body {
	background: #ad6c80;
}
.wrapper {
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #350b40;
	padding: 150px;
	color: #fff;
	text-align: center;
}
.wrapper h2 {
	text-transform: uppercase;
	font-family: arial;
	margin-bottom: 10%;
}
input[type="text"] {
	height: 40px;
	padding-bottom: 10px;
}
input[type="text"] {
	font-size: 28px;
}
button {
	background: #EE4477;
	border: none;
	color: #fff;
	display: inline-block;
	padding: 10px 25px;
	font-size: 18px;
	text-transform: uppercase;
	font-family: arial;
	letter-spacing: 2px;
	font-weight: bold;
}
input[type="radio"] {
	width: 20px;
	height: 20px;
}
b {
	font-size: 30px;
}
